body {
  font-family: "Segoe UI", Arial, sans-serif;
  min-width: 250px;
  margin: 0px;
  font-size: 14px;
  color: #545454;
  background-color: #f8f6f2;
}
p {
  padding: 5px;
  text-align: justify;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button:hover {
  box-shadow: 0px 1px 4px 0px #929292;
}
.button {
  color: #FFFFFF;
  background: #333030;
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-transform: capitalize;
  text-decoration: none;
  font-size: inherit;
  border: 0 none;
  border-radius: 4px;
  transition: box-shadow 200ms;
}
.button.toggled-off {
  color: #8e8e8e;
  background-color: #d0d0d0;
}
#wrapper .toggled-on, #wrapper .toggled-off { display: none; }
#wrapper.disabled .toggled-on { display: none; }
#wrapper.disabled .toggled-off { display: block; }
#wrapper.enabled .toggled-on { display: block; }
#wrapper.enabled .toggled-off { display: none; }
